# Base style to inherit from
BasedOnStyle: LLVM
Language: Cpp

# Indentation and spacing
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignAfterOpenBracket: Align
AccessModifierOffset: -4
NamespaceIndentation: None

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# Line breaking and column rules
ColumnLimit: 120
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyReturnTypeOnItsOwnLine: 60

# Includes
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>$'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^".*"$'
    Priority:        2
    SortPriority:    0
SortIncludes: true

# Spacing rules
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

# Pointer/reference alignment
PointerAlignment: Left
DerivePointerAlignment: false

# C++ constructor initializer lists
ConstructorInitializerAllOnOneLineOrOnePerLine: true
